// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;500;700&family=Sen:wght@400;700;800&display=swap');

// Variables
// Fonts
$font-primary: 'Red Hat Mono', monospace;
$font-secondary: 'Sen', sans-serif;


// Font size
$mobile-logo-size: 1.875rem;            // Standard 30px
$mobile-primary-size: 1.75rem;          // Standard 28px
$mobile-secondary-size: 1rem;           // Standard 16px
$mobile-tertiary-size: 0.875rem;        // Standard 14px
$mobile-quanternnary-size: 1.5rem;      // Standard 24px
$mobile-quinary-size: 0.6875rem;        // Standard 11px

$tablet-primary-size: 4.5rem;           // Standard 72px
$tablet-secondary-size: 1.5rem;         // Standard 24px

// Margins
$margin: 0.625rem;                      // Standard 10px
$margin-title: 0.32rem;                 // Standard 5px
$margin-big: 1.875rem;                  // Standard 30px
$margin-small: 0.5rem;                  // Standard 8px
$margin-nav: 3.5rem;                      // Standard 64px

// Borders
$border-radius: 0.4em;

// Colours
$white: #ffffff;
$background-colour: #272727;
$grey: #c4c4c4;
$orange: #F06F07;
$red: #DC4D07;
$blue: #A0D2F3;

// Code
// Setup
*, *::before, *::after {
    margin: 0;
    border: 0;
    color: $white;
    font-family: $font-primary;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    background-color: $background-colour;
    background: #272727;
    color: white;
}

.page-title {
    font-size: $mobile-logo-size;
    margin: $margin 0;
    text-align: center;
}

.next-section {
    margin: $margin 0;
}

// Fixed Elements

.close-btn {
    visibility: hidden;
    z-index: 3;
}

.hamburger, .close-btn {
    position: fixed;
    top: 18px;
    right: 18px;
}

.hamburger:hover, .close-btn:hover {
    cursor: pointer;
}

.back-to-top {
    position: fixed;
    right: 18px;
    bottom: 18px;
}

// Home page
.home {
display: grid;
grid-template-areas: 
"header"
"main"
"scroll-link";

justify-content: center;
align-content: space-around;

min-height: 100vh;
width: 100%;

    .header {
        width: 100%;

        background-color: $background-colour;
        grid-area: header;
        
        display: flex;
        align-items: center;
        justify-content: space-around;

        .desktop-nav {
            display: none;

            font-size: $tablet-secondary-size;
            
            max-width: 800px;
            
            .desktop-nav__button {
                margin-left: $margin-nav;
                
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                &:focus {
                    color: orange
                }
            }
        }

        .logo {
            .logo__text {
                font-family: $font-secondary;
                font-weight: normal;
                text-transform: uppercase;
                font-size: $mobile-logo-size;
                
                text-align: center;
            
                width: 8.75rem;
                min-height: 5.125rem;
            
                margin: 0 auto;
                padding: 0;
            
                position: relative;
                z-index: 1;
            }
        }
    }

    .main {
        grid-area: main;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .main__heading {
            font-size: $mobile-primary-size;
        }
    
        .main__paragraph {
            font-size: $mobile-secondary-size;
    
            min-width: 10rem;
            min-height: 4.1rem;
        }
    }

    .scroll-link-text {
        grid-area: scroll-link;

        font-size: $mobile-tertiary-size;

        text-align: center;

        .scroll-link-text__link {
            display: inline-flex;
            justify-content: center;
            align-items: center;

            text-decoration: none;
            color: $background-colour;

            background-color: $orange;

            min-width: 2.6rem;
            min-height: 1.625rem;
            border-radius: $border-radius;
        }
    }
}

// Projects Page
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;

    .projects-container {
        .projects__show-more {
            text-decoration: underline;
            text-align: center;
            color: $orange;
            margin: $margin-small 0;
        }

        .project-container {
            font-family: $font-secondary;
            width: 15rem;
            min-height: 11.25rem;
            margin: $margin 0;
            border: 1px solid $grey;
            background-color: $background-colour;
            padding: $margin 0;
            align-self: center;

    
            color: $white;
    
            display: flex;
            flex-direction: column;
            align-items: center;

            .project-container__title {
                font-size: $mobile-quanternnary-size;
                font-weight: normal;
                text-decoration: underline;
            }
        
            .project-container__desc {
                text-align: center;
                margin: $margin 0;
            }
            
            .project-container__desc-long {
                display: none;
            }

            .showDesc {
                display: block;
            }

            .project-container__line-break {
                height: 1px;
                width: 80%;
                background-color: white;
                margin-bottom: $margin;
            }

            .project-container__skills {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .skills-list {
                list-style: none;
                padding: 0;
            }
        
            .skills-column2 {
                text-align: right;
            }
        }

        .project-container:hover {
            cursor: pointer;
        }
    }   
}


// About Page

.about {
    display: grid;
    align-items: center;
    justify-items: center;

    .about-container {
        padding: 0 20px;

        .container-item {
            margin: $margin-big 0;
            max-width: 40ch;
            
            .container-item__title {
                text-decoration: underline;
                font-weight: bold;
                font-size: $mobile-quanternnary-size;
    
                margin-bottom: $margin-title;
            }
    
            .container-item__text {
                line-height: 120%;
            }
        }

        .about-image {
            width: 90%;
            max-width: 400px;
            margin-bottom: $margin;
        }
    }
}

// Contact Page

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;

    .contact-form {    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .contact-form__field {
            border: solid 1px $grey;
            border-radius: $border-radius;
        
            width: 100%;
            max-width: 26rem;
        
            margin: $margin-small 0;
    
            .contact-form__input-name {
                margin-left: 10%;
                padding: 0 $margin-title;
            
                font-size: $mobile-quinary-size;
            
                background-color: $background-colour;
            }
            
            .contact-form__input, .contact-form__textarea {
                width: 90%;
                margin: 0 2px;
            
                background-color: transparent;
            
                font-size: $mobile-tertiary-size;
                padding: $margin-title;
            }
            
            .contact-form__textarea {
                border: none;
            }
            
        }
        .contact-form__submit {
            background-color: $orange;
            border: none;
            border-radius: 2px;
        
            font-family: 'Red Hat Mono', monospace;
            color: $background-colour;
            font-size: $mobile-tertiary-size;
        
            min-width: 66px;
            min-height: $mobile-primary-size;
            margin-top: $margin;
        
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        }
    }


    .mobile-social-icons {
        width: 9.375rem;
        margin: $margin 0;

        display: flex;
        justify-content: space-between;
    }
}

// Menu

.menu {
    background: $background-colour;

    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .close-btn {
        position: absolute;
        right: 18px;
    }

    .menu-logo {
        .menu-logo__text {
            font-family: "Sen", sans-serif;
            font-weight: normal;
            font-size: $mobile-logo-size;
        
            color: white;
        
            text-transform: uppercase;
            text-align: center;
            
            width: 8.75rem;
            min-height: 5.125rem;
        
            margin: 0 auto;
            margin-top: 120px;
            padding: 0;
        
            position: relative;
            z-index: 1;

        }
        .menu-logo__background {
            background: radial-gradient(circle, rgba(220,77,7,1) 0%, rgba(39,39,39,0) 100%);    height: 176px;
            width: 11rem;
            border-radius: 50%;
    
            position: relative;
            z-index: -1;
            top: -8.75rem;
        }
    }
    
    .nav-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        min-height: 17rem;
    
        position: relative;
        top: -100px;

        .menu-btn {
            text-decoration: none;
            color: white;
            font-size: $mobile-quanternnary-size;
            text-align: center;
        }

        .menu-btn:hover {
            text-decoration: underline;
        }

        .menu-btn:focus {
            color: $orange
        }
    }
    
    
    .menu-social-icons {
        width: 150px;
        margin-top: 2.5rem;
    
        display: flex;
        justify-content: space-between;
    
        position: relative;
        top: -5rem;
    }
}


// Media Queries

@media only screen and (min-width:768px) {
    // Setup
        // 
        .page-title {
            margin-top: 10rem;
        }

    // Fixed
        // Add Nav
        .home {
            .header {
                position: fixed;
                top: 2.5rem;

                .desktop-nav {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
        // Hide Phone Menu Button and back-to-top arrow
        .hamburger {
            display: none;
        }

        .back-to-top {
            display: none;
        }


        // Add Social Media Icons
        // Add Sun
        // Add Earth
        // Add Sun 2
        // Add Earth 2

    // Home
        // Increase Hero Size
        .home {
            .main {
                .main__heading {
                    font-size: $tablet-primary-size;
                }
            
                .main__paragraph {
                    font-size: $tablet-secondary-size;
                }
            }
        }
    // Projects
        // Display projects horizontally and open downwards
    .projects {
        justify-content: space-around;

        .projects-container {
            display: grid;
            grid-template-areas: 
            "p1 p2 p3"
            "sm sm sm";

            column-gap: $margin-big;

            #projects-title {
                grid-area: pt;
            }

            #p1 {
                grid-area: p1
            }
            #p2 {
                grid-area: p2
            }
            #p3 {
                grid-area: p3
            }
            .projects__show-more {
                grid-area: sm;
            }
        }
    }

    // About
        // Nothing to change

    // Contact
        // Remove Social Icons
        .contact {
            .mobile-social-icons {
                display: none;
            }
        }
}

@media screen and (min-width: 900px) {
    .projects {
        .projects-container {
            .project-container {
                min-width: 18rem;
            }
        }
    }
}


@media screen and (min-width: 1064px) {

    // Home
        // Nothing to change

    // Projects
        //  Nothing to Change

    // About
        // Position text and image (add container, 3 columns, grid-area-template)
        .about {
            .about-container {
                margin: $margin-big 0;
                max-width: 90%;
                display: grid;
                grid-template-areas: 
                "img web edu"
                "img pho .";
                gap: 40px;

                .container-item {
                    margin: 0;
                }

                .web-developer {
                    grid-area: web;
                    // max-width: 40ch;

                }
                .education {
                    grid-area: edu;
                    // max-width: 40ch;

                }
                .photography {
                    grid-area: pho;
                    // max-width: 40ch;
                }
                .about-image {
                    grid-area: img;
                    width: 300px;
                }
            }
        }
    // Contact
        // Nothing to change
}



//////////////////////////////////

// Classes for JS

// Show Element Class
.show-element {
    visibility: visible;
}

// Remove Display
.remove-element {
    display: none;
}

