@use './scssPartials/variables' as *;

// Projects Page
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;

    .projects-container {
        .projects__show-more {
            text-decoration: underline;
            text-align: center;
            color: $orange;
            margin: $margin-small 0;
        }

        .project-container {
            font-family: $font-secondary;
            width: 15rem;
            min-height: 11.25rem;
            margin: $margin 0;
            border: 1px solid $grey;
            background-color: $background-colour;
            padding: $margin;
            align-self: center;

    
            color: $white;
    
            display: flex;
            flex-direction: column;
            align-items: center;

            .project-container__title {
                font-size: $mobile-quanternnary-size;
                font-weight: normal;
                text-decoration: underline;
            }
        
            .project-container__desc {
                text-align: center;
                margin: $margin 0;
            }
            
            .project-container__desc-long {
                display: none;
            }

            .showDesc {
                display: block;
            }

            .project-container__line-break {
                height: 1px;
                width: 80%;
                background-color: white;
                margin-bottom: $margin;
            }

            .project-container__skills {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .skills-list {
                list-style: none;
                padding: 0;
            }
        
            .skills-column2 {
                text-align: right;
            }
        }

        .project-container:hover {
            cursor: pointer;
        }
    }   
}