// Variables

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;500;700&family=Sen:wght@400;700;800&display=swap');

// Fonts
$font-primary: 'Red Hat Mono', monospace;
$font-secondary: 'Sen', sans-serif;


// Font size
$mobile-logo-size: 1.875rem;            // Standard 30px
$mobile-primary-size: 1.75rem;          // Standard 28px
$mobile-secondary-size: 1rem;           // Standard 16px
$mobile-tertiary-size: 0.875rem;        // Standard 14px
$mobile-quanternnary-size: 1.5rem;      // Standard 24px
$mobile-quinary-size: 0.6875rem;        // Standard 11px

$tablet-primary-size: 4.5rem;           // Standard 72px
$tablet-secondary-size: 1.5rem;         // Standard 24px

// Margins
$margin: 0.625rem;                      // Standard 10px
$margin-title: 0.32rem;                 // Standard 5px
$margin-big: 1.875rem;                  // Standard 30px
$margin-small: 0.5rem;                  // Standard 8px
$margin-nav: 3.5rem;                      // Standard 64px

// Borders
$border-radius: 0.4em;

// Colours
$white: #ffffff;
$background-colour: #272727;
$grey: #c4c4c4;
$orange: #F06F07;
$red: #DC4D07;
$blue: #A0D2F3;
